/* Estilos base */
.edit-greenhouse-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  max-width: 100%; /* Para hacerlo responsivo */
  display: flex;
  flex-direction: column;
  
}

.centrar-greenhouse{
  padding-left: 10px;
}

.h4edit{
  padding-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.h5edit{
  text-align: right;
  padding-bottom: 10px;
  color: #c62426;
  margin-right: 25px;
}

.datos-greenhouse{
  margin-top: 30px;
  font-weight: bold;
}

.label-greenhouse{
  font-size: 15px;
}

.inputs-edit-greenhouse {
  margin-top: 5px;
  margin-left: 0px;
  width: 80%;
  padding: 10px;
  border: 2px solid #d4d0d0;
}

.inputs-edit-greenhouse2 {
  margin-top: 5px;
  margin-left: 0px;
  width: 90%;
  padding: 10px;
  border: 2px solid #d4d0d0;
}

.inputs-edit-greenhouse:focus,
.inputs-edit-greenhouse2:focus{
  border: 2px solid #c62426;
}


.form-section-greenhouse {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Distribuye los elementos horizontalmente */
  margin-bottom: 10px;
  padding-left: 15px;
}

.column-admin-greenhouse {
  flex: 1; /* Ocupa el espacio disponible */
  margin-right: 10px; /* Espacio entre las columnas */
  margin-top: 10px;
}

.password-rules-edit label {
  display: block;
  padding-top: 4px;
  margin-left: 10px;
}


.edit-container-greenhouse {
  padding-top: 40px;
  display: flex;
  justify-content: space-between; /* Distribuye el espacio entre los botones */
  align-items: center; /* Centra verticalmente los botones */
}

.button-greenhouse  {
  width: 150px;
  padding: 12px;
  margin-left: 20px;
  color: white;
  background-color: #c62426;
  border: 2px solid #c62426;
  border-radius: 10px;
}

.button-cancel-greenhouse {
  width: 150px;
  padding: 12px;
  color: white;
  background-color: #c62426;
  border: 2px solid #c62426;
  border-radius: 10px;
  margin-right: 20px;
}

/* Estilos adicionales para el botón */
button {
  transform: scale(1, 1);
  cursor: pointer;
}
